/IF2000_IntroduccionProgra/target/
/IF2000_Lab3/nbproject/private/
/LaboratorioDamas/nbproject/private/
/Ficha/nbproject/private/
/Tablero/nbproject/private/
/LaboratorioDamas/build/
/ArchivosTexto/nbproject/private/
/ArchivosTexto/build/
/QuizRegistroPersona/nbproject/private/
/QuizRegistroPersona/build/
